.Container_Cuerpo{
 display: flex;
 width: 100%;
 height: 33.4vh;
 justify-content: space-between;
  margin: 20px 5px;

}
.ContainerText{
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: 10px;
 font-family: Impact;
 font-size: 20px;
 color: red;

}

.ContainerText p{
  font-size: 60px;
}

.ContainerImg1{
 display: flex;
 width: 50%;
 margin-right: 10px;
 height: 100%;
 justify-content: center; 
}

.ContainerImg1 img{
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* responsive */

/* de 768  a 900 */

@media only screen and (min-width:768px) and (max-width:900px) {
    .Container_Cuerpo{
      height: auto;
      flex-direction: column;
      align-items: center;

    }
}