.Container_footer{
 display: flex;
 width: 100%;
 height: 33.4vh;
 justify-content: space-between;
  margin: 20px 5px;
}
.ContainerText2{
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: 10px;
 font-family: Impact;
 font-size: 20px;
}

.ContainerImg2{
 display: flex;
 width: 50%;
 margin-right: 10px;
 height: 100%;
 justify-content: center; 
} 

.ContainerImg2 img{
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.Container_footer h1{
  color: green;
  font-size: 52px;
}
#p-footer{
  font-size: 18px;
}
