.Container_Cabeza{
 display: flex;
 width: 100%;
 height: 33.4vh;
 justify-content: space-between;
  margin: 20px 5px;
}
.ContainerText{
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: 10px;
 font-family: Impact;
 font-size: 20px;
}

.ContainerImg{
 display: flex;
 width: 50%;
 margin-right: 10px;
 height: 100%;
 justify-content: center; 
} 